// 700, 900, 1440;
$breakpoints: (
  "medium" : 43.75em,
  "large" : 56.25em,
  "xlarge" : 90em,
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
};

@mixin myflex($direction,$row, $column) {
  display: flex;
  flex-direction: $direction;
  gap: $row $column
};

@mixin grid($cols,) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}