// 700, 900, 1440;
$breakpoints: (
  small: 20em,
  "medium" : 48em,
  "large" : 64em,
  "xlarge" : 90em,
);

$max: (
  'phone': 47.94em,
  'tablet': 63.94em,
  'desktop': 79.94em,
);

@mixin breakpointmax($size) {
  @media(max-width: map-get($max, $size)) {
    @content;
  }
};

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
};

@mixin myflex($direction) {
  display: flex;
  flex-direction: $direction;
};

@mixin grid($cols,) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: repeat($rows, 1fr);
};


@mixin breakpointup($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
};