@use 'fonts' as fm;
@use '../utils/' as u;

html, *, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;


}


body {
  font-family: fm.$fm;
  font-size: 100%;
  background: var(--greencolor);
  min-height: 100%;
  color: var(--optionalbackground);
  background-color: var(--optionalbackground);
  width: 100%;
  background-color: green;
 
}

.jm {
 
  min-height: 100vh;
  @include u.myflex(column);
  flex-grow: 1 0;

  @include u.breakpoint(medium) {
  }
  
}


