@use '../utils/' as u;

header  {
 background: var(--lightgraycolor);
}

.top {
  width: 100%;
}

.gif {
  
  img {
    width: 100%;
  }
}

.middle {
  @include u.myflex(row);
  background: var(--lightgraycolor);
  align-items: center;
  font-size: u.rem(12);
  padding: u.rem(0) u.rem(8);

  @include u.breakpointmax(phone) {
    display: none;
  }

  @include u.breakpoint(medium) {
    display: flex;
    padding: u.rem(10);
  }

  &__start {
    @include u.myflex(row);
    width: 15%;
    flex-basis: 15%;
    max-width: 15%;
    color: var(--orangecolor);
    flex-shrink: 0;

   @include u.breakpoint(large) {
     width: 50%;
     flex-basis: 50%;
     max-width: 50%;
    // justify-content: center;
     flex-shrink: 0;
    }
  

    .middle__startlogo {
     
      position: relative;

      & .checked {
        color: var(--whitecolor);
        border-radius: 50%;
        margin-right: 4px;
        font-size: u.rem(10);
      

        
      &::before {
        background-color: var(--orangecolor); 
        padding: u.rem(1);
        border-radius: 50%;
      }

      }
      
    }
    
    .middle__startsell{
      color: var(--orangecolor);
      font-weight: 500;
    }
    
  }

  &__center {
    @include u.myflex(row);
    font-size: 20px;
    width: 60%;
    flex-basis: 60%;
    max-width: 60%;
    justify-content: flex-start;
    margin-left: 50px;
    align-items: center;
    

    @include u.breakpoint(medium) {
      width: 50%;
      justify-content: center;
    }

    @include u.breakpoint(large) {
      justify-content: flex-start;
      width: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }

    .middle__centerjumialogo {
      font-size: u.rem(14);
      font-weight: 800;
    
      

      .iconbackground{
       position: relative;
       
          & .checked {
            position: absolute;
            font-size: u.rem(7);
            top: u.rem(4);
            left: 1px;
            color: var(--whitecolor);

            &::before {
              background-color: var(--orangecolor);
            border-radius: 50%;
            padding: u.rem(1.3);
            }
          
          }

      }

    }

    .middle___centershield {

      .iconbackground2 {
        position: relative;
        bottom: 3px;
        left: u.rem(30);



        .fa-shield {
          font-size: u.rem(14);
          margin-right: u.rem(5);
          color: rgba(148, 147, 147, 0.542);

        }

        .sec {
          position: absolute;
          font-size: u.rem(5);
          top: u.rem(10);
          left: u.rem(8);
          color: rgb(240, 239, 239);
        


          &::before {
            background-color: rgba(148, 147, 147, 0.542);
            border-radius: 50%;
            padding: u.rem(1);
          }
          
        }

      }

    }

    .pay-logo {
     
      font-size: u.rem(14);
      font-weight: 600;
      margin-left: u.rem(-4);
      color: rgb(205, 205, 205);
    }
  }
}


.nav {
  background: var(--whitecolor);

  nav {

  
    
    @include u.myflex(row);
    
    padding: u.rem(10);
  
    align-items: center;
  

   @include u.breakpoint(medium) {
    padding-right: 0;
    } 

    @include u.breakpoint(large) {

      margin-inline: auto;
    
      } 
    

  
  }

  &__left {
    width: 50%;

    @include u.myflex(row);
    gap: 0 u.rem(3);
    flex-shrink: 0;
    flex-basis: 50%;
    align-items: center;


    @include u.breakpoint(medium) {
      width: u.rem(175);
      flex-basis: 18%;
      margin-right: u.rem(18);
      
    }

    @include u.breakpoint(large) {
      width: 20%;
      flex-basis: 20%;

      justify-content: center;
    }

    

    .ham-btn {
      background-color: transparent;
      border: none;
      width: 30px;
    

      @include u.breakpoint(large) {
        display: none;
      }
      
      .hamburger {
        font-size: u.rem(20);
      }

      
    }

    .nav__jumia {
      font-weight: 700;
      font-size: u.rem(30);

      @include u.breakpoint(medium) {
        font-size: u.rem(35);
        
      }
    
     
    }

    .st {
    
      .checked {
        font-size: u.rem(16);
        color: var(--whitecolor);

        &::before {
          background: var(--orangecolor);
          padding: 3px;
          border-radius: 50%;
          
        }
      }
    }
  }

  &__middle {
    display: none;
    position: relative;
    width: 50%;
    @include u.breakpoint (medium) {
      display: flex;
    }

    @include u.breakpoint(large) {
      width: 50%;
    }
   
    &-input {
      border-radius: u.rem(4);
      padding: u.rem(10);
      padding-left: u.rem(40);
      border: 1px solid rgb(187, 187, 187);
      font-size: u.rem(16);
      width: 100%;    
      
    }
     .search-icon {
      font-size: u.rem(18);
      position: absolute;
      top: u.rem(10);
      left: u.rem(14);
      
    }
  }

  .search-btn {
    font-size: 12px;
    width: u.rem(80);
    border-radius: 3px;
    font-weight: 600;
    color: var(--whitecolor);
    background-color: var(--orangecolor);
    border: none;
    padding-inline: u.rem(14);
    box-shadow: var(--orange-boxshadow);
    margin-left: 7px;
  

  }

}

.bottom__search {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: u.rem(5) u.rem(10);
  padding-bottom: u.rem(10);
  @include u.breakpoint(medium) {
    display: none;
  }


  &-input-setting {
    position: relative;
  }

  &-input {
    padding: u.rem(10);
    border-radius: 25px;
    padding-left: u.rem(38);
    border: 1px solid rgb(187, 187, 187);
    width: 100%;
    font-size: 14px;
  }

  &-icon {
    font-size: u.rem(20);
    position: absolute;
    top: u.rem(8);
    left: u.rem(10);
  }

}

.nav__right {
  @include u.myflex(row);
  width: 50%;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 u.rem(10);
  margin-top: u.rem(3);
  font-size: u.rem(14);
  font-weight: 100;
  flex-shrink: 0;
  margin-right: u.rem(15);

  gap: u.rem(8);
 

  @include u.breakpoint(medium) {
    font-weight: 500;
  
    justify-content: flex-start;
    width: 33%;
    flex-basis: 33%;
    margin-left: u.rem(15);

    padding: 0px;
    
  }
   

  @include u.breakpoint(large) {
    
  }

  & i {
    font-size: u.rem(18);
    font-weight: 700;
    margin-left: u.rem(5);

    @include u.breakpoint(medium) {
      margin-right: u.rem(10);
      font-size: u.rem(18);

    }
}

  .help {
    display: none;
    @include u.breakpoint(medium) {
      display: flex;

    }
  }
  
  .arrowcont {
    
    display: none;
    @include u.breakpoint(medium) {
      display: flex;
      font-size: u.rem(14);
      align-items: center;
  

    }

    .down-arrow {
      font-size: u.rem(14);
      margin-left: u.rem(8);
    }
       
  }
}

.fl {
  display: flex;
  align-items: center;
  font-weight: 500;
  
}


.account__dropdown {
  display: none;

}

.btn-cont {
  position: relative;
  
}

ul {
  display: none;
  position: absolute;
  background: red;
  left: 0;
  right: 0;
  width: 18em;
  z-index: 2000;
}
.show {
  display: inherit;
}
