@use '../utils/' as u;


main {
background-color: var(--lightgraycolor);
width: 100%;
}

.tagcont {
  background: var(--lightgraycolor);
  padding-top: u.rem(8);

  @include u.breakpoint(medium) {
    display: none;
  }
}

.numtag {
  font-size: u.rem(20);
  background: var(--lightorangecolor);
  padding: u.rem(10);
  text-align: center;
  font-weight: 500;
}

.slider {
  background-color: var(--whitecolor);
  display: flex;
  padding: u.rem(10);
  overflow-x: scroll;
  gap: u.rem(10);

  .slides {
    
    display: block;
  }


  .slide {
    
    width: 80vw;
    height: 40vw;
  }


  img {
    border-radius: u.rem(5);
    object-fit: cover;
    width: 100%;
    height: 100%; 
  }
  
}

section {
  background-color: var(--whitecolor);
  margin-top: u.rem(8);
  
}

.nut {
  @include u.mygrid(4);
  padding: u.rem(10);
  gap: u.rem(10) u.rem(8);

  &__image {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    border-radius:  u.rem(5);
  }

  &__tag {
    text-align: center;
    font-size: u.rem(10);
    padding: u.rem(12) u.rem(5);
    
  }
}


.flash-tag {
  display: none;
background: var(--redcolor) ;
display: flex;
justify-content: space-between;
padding: u.rem(10);
color: var(--whitecolor);
font-size: u.rem(14);
font-weight: 500;

.time {
  font-size: u.rem(12);
  margin-top: u.rem(5);
}
}

.flash-con {
  @include u.mygrid(10);
  overflow-x: scroll;
  padding: u.rem(10);
}

.flash-productcon {

  margin-right: u.rem(5);
}

.flash-imagecon {
  width: u.rem(180);
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.initial {
  text-decoration: line-through;
  font-size: u.rem(12);
  display: none;
}

.flash-name {
  font-size: u.rem(14);
  margin-bottom: u.rem(5);
}
.flash-amount {
color: black;
}


.section1 {
  
}

.tag {
  background-color: var(--whitecolor);
  padding: u.rem(10);
}

.grid-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.product {
  
  position: relative;
  padding: u.rem(10);

.product-image {
  aspect-ratio: auto 104 /104;
  height: auto;
 
}

  img {
    width: 100%;
    height: auto;
  }
}

.percent {
  font-size: u.rem(12);
  position: absolute;
  top: u.rem(15);
  right: 20px;
  background-color: var(--lightorangecolor);
  color: var(--orangecolor);
  padding: u.rem(1) u.rem(3);
}
.product-name {
  
}

.product-desc {
  padding: u.rem(5);
  font-size: u.rem(16);
}

.amount {
  font-size: u.rem(22);
  font-weight: 700;
}