@use '../utils/' as u;

.row {
  flex-shrink:0;

  @include u.breakpoint(small) {
    min-width: 400px;
    flex-shrink: 0;
  }
  
  @include u.breakpoint(large) {
    
    min-width: u.rem(950);
    max-width: u.rem(1184);  
    justify-content: center;
    margin-inline: auto;
    width: 50%;
  }

  @include u.breakpoint(xlarge) {
    
    
  }
}

/* .ds {
  @include u.breakpoint(medium) {
    max-width: 1184px; 
    margin-inline: auto;
}
} */